<nav class="nav">
    <%= link_to 'Home', root_path, class: 'nav-link' %>
    <%= link_to 'Percentage Wine', strain_wines_path, class: 'nav-link' %>
    <%= link_to 'Wines', wines_path, class: 'nav-link' %>
    <%= link_to 'Strains', strains_path, class: 'nav-link' %>
</nav>